* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

.wrap-text {
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sidebar {
  ::-webkit-scrollbar {
    display: none;
  }
}

.active {
  background-color: #f1f1f1;
}

/* .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
} */

.video-container iframe {
  width: 44vw;
  height: 25vw;
}

.small-container iframe {
  width: 95vw;
  height: 49vw;
}

.small-container  {
  display: flex;
  justify-content: center;
}

.medium-container iframe {
  width: 70vw;
  height: 42vw;
}

.large-container iframe {
  width: 60vw;
  height: 35vw;
}

.xlarge-container iframe  {
  width: 50vw;
  height: 30vw;
}

.video-container  {
  width: 44vw;
}

.small-container  {
  width: 95vw;
}

.small-container  {
  display: flex;
  justify-content: center;
}

.medium-container  {
  width: 70vw;
}

.large-container {
  width: 60vw;
}

.xlarge-container  {
  width: 50vw;
}




