* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

.wrap-text {
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sidebar {
  ::-webkit-scrollbar {
    display: none;
  }
}

.active {
  background-color: #f1f1f1;
}